@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

.inner {
    width: 100%;
    margin: auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}
.body {
    background: #ffffff;
    font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    font-weight: 400;
}
/* header */
#header {
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 900;
    background: #ffffff;
}
#header .header_logo {
    width: 49px;
    height: auto;
    position: absolute;
    top: 25px;
    left: 250px;
    z-index: 901
}
#global_nav {
    position: relative;
}
#global_nav ul {
    list-style: none;
    position: absolute;
    top: 27px;
    right: 250px;
    z-index: 902;
}
#global_nav li {
    float: left;
    padding: 0 24px;
    color: #333333
}
#global_nav li a {
    text-decoration: none;
    color: #333333
}

/* top */
#top {
    width: 100%;
    height: 911px;
    background: url(../img/header.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.top_logo {
    width: 292px;
    height: auto;
    position: absolute;
    top: 346px;
    left: calc((100% - 292px)*0.5);
    z-index: 2;
}

/* container */
.container {
    display: block;
    width: 980px;
    margin: 0 auto;
}

/*about and cat_1 - 3 inner */
#about .inner, #cat_1 .inner, #cat_2 .inner, #graphic .inner, #cat_3 .inner, #under .inner{
    width: 980px;
}
#about .inner, #cat_1 .inner, #cat_2 .inner, #cat_3 .inner{
    padding: 100px 0;
}

/* about */
#about h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 68px;
}
#about p {
    display: block;
    font-size: 24px;
    line-height: 45px;
    margin-top: 100px;
}

/* cat */
.cat_title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 68px;
}

/* cat 1 */
#cat_1 {
    width: 100%;
    background: #FCF6F2;
}
#cat_1 .cat_1_content {
    display: block;
    width: 100%;
}
#cat_1 .cat_1_content div {
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 100px;
}
#cat_1 .cat_1_content div img {
    width: 450px
}
#cat_1 .cat_1_content div p {
    width: 450px;
    height: 300px;
    font-size: 20px;
    line-height: 30px;
}
#cat_1 .cat_1_content div:nth-child(odd) img{
    float: left;
}
#cat_1 .cat_1_content div:nth-child(odd) p {
    float: right;
}
#cat_1 .cat_1_content div:nth-child(even) img{
    float: right;
}
#cat_1 .cat_1_content div:nth-child(even) p {
    float: left;
}

/* cat 2 */
#cat_2 {
    width: 100%;
    background: #ffffff;
}
#cat_2 .cat_2_content {
    display: block;
    width: 100%;
}
#cat_2 .cat_2_content div {
    display: block;
    width: 450px;
    margin-top: 100px;
}
#cat_2 .cat_2_content div:nth-child(1) {
    float: left;
}
#cat_2 .cat_2_content div:nth-child(2) {
    float: right;
}
#cat_2 .cat_2_content div img{
    display: block;
    width: 100%;
    margin-bottom: 50px;
}
#cat_2 .cat_2_content div p {
    font-size: 20px;
    line-height: 30px;
}

